//variables//
$fuente-tipica: 'Andika New Basic', sans-serif;
$color-letra: #BF9B77;
$color-secundario:  #d037d3;
$color-secundario2: white;
$color-secundario3: #eee;
//uso de variables//

body{
	color: $color-letra;
	text-align: center;

}

h1{
	background-color: $color-letra;
	color: $color-secundario2;
	text-align: center;
	font-size: 40px;
	overflow: hidden;

}

h3{
	color: $color-letra;
	text-align: center;

}

h6{
	margin: auto;
	background-color: $color-letra;
	color: $color-secundario2;
	font-size: 16px;
	text-align: center;
}

footer{
	float: none;
	color: color-letra;
	width: 100%;
	height: 55px;
	background-color: $color-secundario3;
	text-align: center;
	padding: 20px;

}


//mixins//
@mixin medidas {
	width: 100%;
	height: 100%;
}


.foto1 img{
	@include medidas();

}

.foto2 img{
@include medidas();
}

.container img:hover{
	border-radius: 35px;
}

.container{
border:1px solid white;
display: grid;
grid-template-columns: 25% 25% 25%  25%;
grid-template-rows: 50% 50%;

.foto1 {
	
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 2rem;
}


.foto2 {
	
		grid-column-start: 3;
grid-column-end: 5;
margin: right 1000px;
margin: 2rem;
	
}

}


#manifiesto{
	padding: 20px;
	margin: 60px;
	border: solid;
	border-style: unset;
	max-width: auto;
	color: $color-letra;

}

p{
	background-color: $color-secundario2;
	color: $color-letra;
	text-align: center;

}


#menu{
	display: inline-block;
	color: $color-letra;
	font-size: 13px;
	flex-wrap: wrap;

ul li a{
	color: $color-secundario;
	justify-content: center;
}
ul li{
/*display: inline-block;*/
display: inline;
float: left;
padding: 7px;
margin-right: 200px;

}
} 

.fotoo {

}





