/*texto comentado*/
*{
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Andika New Basic', sans-serif;
	text-align: center;
	list-style: none;
	justify-content: center;
}
h6{
	margin: auto;
	background-color: #BF9B77;
	color: white;
	font-size: 16px;

}
h1{
	text-align: center;
	background-color: #BF9B77;
	color: white;
	font-size: 40px;
	overflow: hidden;
}
h3{
	font-size: 22px;
	text-align: center;
	color: #BF9B77;
}
h4{
	color: #DAAADB;
}
.contacto{
		color: #BF9B77;
		display: inline-block;
		margin: 10%;
		padding: 10%;
}
h2{
		text-align: center;
		color: #BF9B77;
		font-size: 20px;
}

table{
		margin: 20%;
		padding: 10%;
		height: 250px;
		width: 500px;
		border-style: dotted;
}

form{
	border: 1px solid; 
	margin: auto;
}
label{
	font-size: 16px;
	display: block;
	width: 100%;
}
input, textarea{
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}
input[type="submit"]{
	margin-bottom: 10px;
	
}

.manifiesto{
		padding: 20px;
		margin: 60px;
		border: solid;
		color: #BF9B77;	
		border-style: unset;
}
.fotox{
	width: 350px;
	height: 100%;
	

}
.nena{

	font-weight: bold;
	color: white;
	padding: 20px;
	border: 4px;
	margin: 10px;
	transition: all 500ms;
	border-radius: 2s;
}
.nena img{
	height: 100%;
}
.nena :hover{
	transition: all 500ms;
	border-radius: 2s;
}
.clearfix{
	float: none;
	clear: both;
}
#menu ul li a{
		color: #b217b4;
		justify-content: center;
}
#menu{
	display: inline-block;
	color: #BF9B77;
	font-size: 13px;
	flex-wrap: wrap;

}
#menu ul li{
	/*display: inline-block;*/
	display: inline;
	float: left;
	padding: 7px;
	margin-right: 200px;
	justify-content: center;

}

#localesx ul li a{
	color: #DAAADB;
	justify-content: center;
	padding: 20px;
	margin: 50px;

}
.texto{
	color: #BF9B77;
}

.container{
	border:1px solid white;
	display: grid;
	grid-template-columns: 25% 25% 25%  25%;
	grid-template-rows: 50% 50%;
}

.container img:hover{
		border-radius: 35px;
}


@media (max-width: 768px){

	#menu{
		display: flex;
		width: 100%;
		font-size: auto;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}

}

	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}

	#manifiesto{
		max-width: auto;
	}

	#compra{
		max-width: auto;
	}

	h5{
		max-width: auto;
	}
	.lista{
	text-align: center;
	width: 100%;
}

}

.calesita img{
	height: 100px;
	width: auto;
}

.moreno img{
	width: 100%;
}
footer{
	display: flex;
	float: none;
	color: #BF9B77;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background:#eee;
	text-align: center;
	padding: unset;
	margin: unset;

}