/*texto comentado*/
*{
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Andika New Basic', sans-serif;
	text-align: center;
	list-style: none;
	justify-content: center;
}
h6{
	margin: auto;
	background-color: #BF9B77;
	color: white;
	font-size: 16px;

}
h1{
	text-align: center;
	background-color: #BF9B77;
	color: white;
	font-size: 40px;
	overflow: hidden;
}
h3{
	font-size: 22px;
	text-align: center;
	color: #BF9B77;
}
h4{
	color: #DAAADB;
}
h2{
		text-align: center;
		color: #BF9B77;
		font-size: 20px;
}

.table{
	border: #DAAADB solid 1px;
	color: white;
	background-color: #BF9B77;
	margin: 0%;
	padding: 0%;
	width: 90%;
    height: 81%;
}
.titulo h2{
	margin-top: 23px;
}
.table tr{
	color: white;

}
.contacto{
	color: #BF9B77;
	display: inline-block;
	margin: 0%;
	height:100%;
	width: 68%;

}
label, option{
	color:#BF9B77;
	font-size: 16px;
	display: block;
	width: 80%;
}
input, textarea{
	margin-bottom: 10px;
	width: 100%;
	color:#BF9B77;
	
}
input[type="submit"]{
	margin-bottom: 10px;
	
}

.caja img{
	width: 450px;
	height: 500px;

}


.local{
	margin: 2rem;
	padding: 2rem;
}

.manifiesto{
		padding: 20px;
		margin: 60px;
		border: solid;
		color: #BF9B77;	
		border-style: unset;
}
.fotox{
	width: 350px;
	height: 100%;
	

}
.nena{

	font-weight: bold;
	color: white;
	padding: 20px;
	border: 4px;
	margin: 10px;
	transition: all 500ms;
	border-radius: 2s;
}
.nena p{
	color: #BF9B77;	
	
}
.nena img{
	height: 100%;
}
.nena :hover{
	transition: all 500ms;
	border-radius: 2s;
}
.clearfix{
	float: none;
	clear: both;
}
#menu ul li a{
		color: #b217b4;
		justify-content: center;
}
#menu{
	display: inline-block;
	color: #BF9B77;
	font-size: 13px;
	flex-wrap: wrap;

}
#menu ul li{
	/*display: inline-block;*/
	display: inline;
	float: left;
	padding: 7px;
	margin-right: 200px;
	justify-content: center;

}

#localesx a{
	color: #DAAADB;
	justify-content: center;
	padding: 20px;
	margin: 50px;
	height: 100vh;

}


.texto{
	color: #BF9B77;
}

.container{
	border:1px solid white;
	display: grid;
	grid-template-columns: 25% 25% 25%  25%;
	grid-template-rows: 50% 50%;
}

.container img:hover{
		border-radius: 35px;
}


.calesita img{
	height: 100px;
	width: auto;
}

.moreno img{
	width: 100%;
}
footer{
	display: flex;
	float: none;
	color: #BF9B77;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background:#eee;
	text-align: center;
	padding: unset;
	margin: unset;

}

.local{
	margin: 20px;
	padding: 20px;
}

/*Responsive*/


/*Pixel 2*/
@media (max-width: 576px){

	#menu{
		display: flex;
		width: 100%;
		font-size: auto;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}

	#menu ul li {
		/* display: inline-block; */
		display: inline;
		float: left;
		padding: 1px;
		margin-right: 0px;
	}
	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}
	#manifiesto{
		max-width: auto;
	}
	h5{
		max-width: auto;
	}
	.lista{
	text-align: center;
	width: 100%;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    width: 48%;
    height: 50%;
}
.col-12 {
    -ms-flex: 0 0 100%;
    min-width: 79%;
}
.caja img {
    width: 85%;
    height: 76%;
}

h1 {
    font-size: 1rem;
}
.nena img {
    height: 100%;
    width: 152px;
}
.col-3 {

    flex: 0 0 25%;
    max-width: 32%;
}
.p-5 {
    padding: 2rem!important;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 226px;
    height: 400px;
}
.contacto {
    color: #BF9B77;
    display: inline-block;
    margin: 0%;
    height: 31%;
    width: 78%;
}

}


/*Ipad*/
@media (max-width: 768px){
	#menu ul li {
		/* display: inline-block; */
		display: inline;
		float: left;
		padding: 7px;
		margin-right: 36px;
	}

	#menu{
		display: flex;
		width: 100%;
		justify-content: center;
	}

	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}
	#manifiesto{
		max-width: auto;
	}


lista{
	text-align: center;
	width: 100%;
}
.nena img {
    height: 100%;
    width: 170px;
}
.rubi {
    vertical-align: middle;
    border-style: none;
    width: 319px;
    height: 421px;
}
textarea {
    overflow: auto;
    resize: vertical;
    height: 95px;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
}
h2 .p-5 {
    padding: 1rem!important;
}
.contacto {
    color: #BF9B77;
    display: table-cell;
    margin: 0%;
    height: 49%;
    width: 60%;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}
.table {
    width: 100%;
    margin-bottom: 0rem;
    color: #212529;
    height: 59%;
}
.moreno img {
    width: 100%;
    height: 102%;
}
h1 {
    font-size: 1.5rem;
}

.caja img {
    width: 95%;
    height: 82%;
}
}


@media (max-width: 992px){

	#menu{
		display: flex;
		width: 100%;
		font-size: auto;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}



	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}

	#manifiesto{
		max-width: auto;
	}

	h5{
		max-width: auto;
	}
	.lista{
	text-align: center;
	width: 100%;
}
.caja img {
    width: 372px;
    height: 403px;
}
#menu ul li {
    /* display: inline-block; */
    display: inline;
    float: left;
    padding: 7px;
    margin-right: 88px;
    justify-content: center;
}
}


@media (max-width: 1200px){

	#menu{
		display: flex;
		width: 100%;
		font-size: auto;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
	}

	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}
	h1{
		max-width: auto;
	}

	#manifiesto{
		max-width: auto;
	}

	#compra{
		max-width: auto;
	}

	h5{
		max-width: auto;
	}
	.lista{
	text-align: center;
	width: 100%;
}
.caja img {
    width: 497px;
    height: 514px;
}


.m-3 {
    margin: 4rem!important;
}
.p-4 {
    padding: 0.5rem!important;
    margin-top: 59px;
}


.contacto {
    color: #BF9B77;
    display: inline-block;
    margin: 0%;
    height: 59%;
    width: 50%;
}
.titulo h2 {
    margin-top: 4px;
}
.fotox {
    width: 277px;
    height: 100%;
}
#menu ul li {
	/* display: inline-block; */
	display: inline;
	float: left;
	padding: 7px;
	margin-right: 111px;
}
label, option {
    color: #BF9B77;
    font-size: 16px;
    display: block;
    width: 81%;
}
label {
    display: inline-block;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

}





@media (max-width: 1400px){


	#menu ul li a{
		color: #DAAADB;
		justify-content: center;

}
	h1{
		max-width: auto;
	}

	#manifiesto{
		max-width: auto;
	}

	#compra{
		max-width: auto;
	}

	h5{
		max-width: auto;
	}
	.lista{
	text-align: center;
	width: 100%;
}
.caja img {
    width: 540px;
    height: 568px;
}
.fotox {
    width: 285px;
    height: 100%;
}

h6{

}
ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
#menu {
    display: inline-block;
    color: #BF9B77;
    font-size: 15px;
    flex-wrap: wrap;
}
.contacto {
    color: #BF9B77;
    display: inline-block;
    margin: 0%;
    height: 58%;
    width: 42%;
}
#menu ul li {
    /* display: inline-block; */
    display: inline;
    float: left;
    padding: 7px;
	margin-right: 139px;
}

.table {
    border: #DAAADB solid 1px;
    color: white;
    background-color: #BF9B77;
    margin: 0%;
    padding: 0%;
    width: 90%;
    height: 77%;
}
.p-5 {
    padding: 2rem!important;
}

}




